@import url('http://fonts.googleapis.com/css?family=Prompt');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d0eaff;
    font-family: 'Prompt', sans-serif;
}

main {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    max-width: 720px;
    width: 100%;
}

main h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    text-align: center;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.65rem;
    padding: 0.5rem;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.form-control:focus {
    border: 1px solid rgb(53, 134, 255);
    box-shadow: 0 0 0.1rem 0.1rem rgba(53, 134, 255, 0.25);
}

.form-control.error {
    border: 1px solid rgb(255, 53, 53);
    box-shadow: 0 0 0.1rem 0.1rem rgba(255, 53, 53, 0.25);
}

.form-control:read-only {
    background-color: #eee;
    cursor: not-allowed;
}

.form-control:read-only:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}

.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.65rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #e6e6e6;
}

.btn:active{
    box-shadow: inset 0.15rem 0.15rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
}

.alert {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.65rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.alert-danger {
    background-color: #f5c6cb;
    border-color: #e0b9b9;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}


.alert .close {
    color: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: .25rem .5rem;
    float: right;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

a {
    color:rgb(53, 134, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input-group {
    display: flex;
}

.remove-button {
    border: none;
    background-color: rgb(239,68,68);
    color: white;
    border-radius: 50%;
    margin-left: 1rem;
    font-weight: 700;
}

.remove-button:hover {
    background-color: #b91c1c;
}

.add-button {
    border: none;
    background-color: rgb(68, 239, 68);
    color: white;
    border-radius: 50%;
    margin-left: 1rem;
    font-weight: 700;
}

.add-button:hover {
    background-color: #1cb93e;
}